<h1>Listing users</h1>

<ul><li><%= link_to "Create New User", signup_path %></li></ul>

<table>
<thead>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Administrator</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.isAdmin %></td>
    <td>
      <ul>
        <li><%= link_to 'Edit', edit_user_path(user) %></li>
        <li><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></li>
      </ul>
    </td>
  </tr>
<% end %>
</tbody>
</table>

