<% provide(:title, 'Users') %>

<% if !current_user.nil? && current_user.isAdmin then %>
<ul class="actions"><li class="button"><%= link_to "Create New User", signup_path %></li></ul>
<% end %>

<table>
<thead>
  <tr>
    <th>Email</th>
    <% if !current_user.nil? && current_user.isAdmin then %>
      <th>Password</th>
    <% end %>
    <th>Administrator</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, user %></td>
    <% if !current_user.nil? && current_user.isAdmin then %>
      <td><%= user.password %></td>
    <% end %>
    <td><%= user.isAdmin %></td>
    <% if !current_user.nil? && current_user.isAdmin then %>
      <td>
        <ul class="actions">
          <li class="button"><%= link_to 'Edit', edit_user_path(user) %></li>
          <li class="button"><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %></li>
        </ul>
      </td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

