<% provide(:title, 'Users') %>

<ul class="actions"><li class="button"><%= link_to "Create New User", signup_path %></li></ul>

<table>
<thead>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Administrator</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.isAdmin %></td>
    <td>
      <ul class="actions">
        <li class="button"><%= link_to 'Edit', edit_user_path(user) %></li>
        <li class="button"><%= link_to 'Delete', user, confirm: 'Are you sure?', method: :delete %></li>
      </ul>
    </td>
  </tr>
<% end %>
</tbody>
</table>

