<% provide(:title, 'Posts') %>
<div class="post-index">

<h1>What are people talking about?</h1>

<% if current_user %>
  <div class="right-actions">
    <ul class="actions">
      <li class="button"><%= link_to 'Say Something!', new_post_path %></li>
    </ul>
    <%= form_tag("/posts", :method => "get") do %>
        <%= text_field_tag :searchString %>
        <%= submit_tag '&nbsp;'.html_safe, :class => 'button', :id => 'search', :placeholder => 'Search' %>
    <% end %>
  </div>
<% end %>
<table>
<thead>
  <tr>
    <th>Email</th>
    <th>Content</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @postssorted = @posts.sort %>
  <% if @postssorted.empty? %>
    <tr>
      <td colspan="3">Sorry, there are no posts yet.</td>
    </tr>
  <% end %>
  <% @postssorted.each do |post| %>
      <tr>
        <td><%= post.user.email %></td>
        <td><%= post.body %></td>
        <td>
          <% if (current_user) %>
            <ul class="actions">
              <li class="button"><%= link_to 'Add Comment', post %></li>
              <% if (current_user.isAdmin?) %>
              <li class="button"><%= link_to 'Delete', post, confirm: 'Are you sure?', method: :delete %></li>
              <% end %>
          <% end %>
        </td>
      </tr>
      <% post.comments.each do |comment| %>
          <tr>
            <td><%= comment.email %></td>
            <td><%= comment.body %></td>
            <td>
            <% if (current_user && current_user.isAdmin?) %>
              <ul class="actions">
                <li class="button"><%= link_to 'Delete', [post, comment], confirm: 'Are you sure?', method: :delete %></li>
              </ul>
            <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</tbody>
</table>

</div>