<div class="post-show">

<p>
  <b>Email:</b>
  <%= @post.user.email %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>


<h2><%= @post.comments.length %> comments</h2>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Ok', :class => 'button', :style => 'float:left' %>
    <ul class="actions">
      <li class="button"><%= link_to 'Cancel', posts_path %></li>
    </ul>
<% end %>

</div>